/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans&display=swap');
/*font-family: 'Shantell Sans', cursive;*/

body {
  /* Hehe poolors go brrrrr.
    * Maybe I won't be so bad? 
    https://poolors.com/5d00c3-c8afe0
    https://poolors.com/010101-fdfdfd
    https://poolors.com/fcfcfc-8357bb
    https://poolors.com/c972e5-191504
    https://poolors.com/161812-efe5ea
    https://poolors.com/412419-9252ae
    https://poolors.com/1e1847-eefbfc-be36e3
    Persona! https://poolors.com/000000-fefefe-ea2626
    */
  background-color: #5c595b;
  color: #bad9ba;
  font-family: Verdana;
  margin: 8px max(8px, 50% - 118.5rem/2);
}

a {
  color: #6b4cda;
}

a:hover {
  color: rgb(133, 117, 190);
}

a:visited {
  color: #ff6680;
}

.flexTop,
footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

header nav a {
  background-color: #1a1725;
  padding: 0.5em;
  border-radius: 10px;
  text-decoration: none;
}

main {
  margin: 1rem auto;
  max-width: 60rem;
  background-color: #7f7d80;
  padding: 1em;
}

main li {
  margin: 0.3rem;
}

nav ul {
  list-style: none;
  padding-left: 0px;
}

figure {
  margin: 0px;
  max-width: 50%;
}

figure img {
  width: 100%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.homeLink {
  all: unset;
  color: #bad9ba;
  cursor: pointer;
}

.homeLink:visited {
  all: unset;
  color: #bad9ba;
}

main {
  height: 40rem;
}

section{
  display: flex;
}

#id-name {
  background-color:chocolate;
  animation: "movment" 1s linear 10s infinite alternate;
  width: 10rem;
  height: 10rem;
  visibility: hidden;
}

#id-name2 {
  background-color:brown;
  width: 10rem;
  height: 10rem;
  animation: "movment2" 1s linear 10s infinite;
  visibility: hidden;
}

#id-name3 {
  background-color: #1a1725;
  width: 10rem;
  height: 10rem;
  animation: "movment3" 1s linear 10s infinite alternate;
  visibility: hidden;
}

#id-name:hover {
  background-color:rgb(214, 138, 84);
}

#id-name2:hover {
  background-color:rgb(168, 78, 78);
}

#id-name3:hover {
  background-color: #2c2a33;
}

@keyframes movment {
  from {
    visibility: visible;
  }
  to {
    margin: 100px;
  }
}

@keyframes movment2 {
  from {
    visibility: visible;
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes movment3 {
  from {
    visibility: visible;
  }
  to {
    width: 20rem;
  }
}